body{
    background-color: aquamarine;
}
.parent{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.right a{
    text-decoration: none;
    padding: 2vw;
}
.p2{
display: flex;
align-items: center;
}
.scott{
    margin-right: 2vw;
}
.scott img {
    width: 30vw;
    height:30vw ;
}

.title{
    display: flex;
    justify-content: space-between;
    color: maroon;
}

.tb1{
    display: flex;

}
table{
border: 1px solid black;
}

.whole{
display: flex;
justify-content: space-between;
}
.text{
    width: 40vw;
}
.form1{
    position: relative;
    width: 39.95%;
}
.form1 input{
    width: 90%;
    background-color: white;
    padding: 1vw 0vw 1vw 2vw;
    border: none;
    color: grey;
    border-radius: 15px;
}
button{
    background-color: blue;
    border: none;
    color: white;
    border-radius: 15px;
    padding: 1vw;
    margin-top: 1vw;
}
h2{
    color: maroon;
}